transformers==4.34.0
datasets==2.13.0
peft==0.4.0
accelerate==0.23.0
bitsandbytes==0.41.1
trl==0.4.7
safetensors>=0.3.1
scipy
konlpy
JPype1==1.3.0
nltk
gensim
matplotlib
sentencepiece
streamlit
llama-index
langchain
sentence-transformers
pypdf
chromadb
streamlit
streamlit_chat
fastapi==0.103.2
python-multipart
uvicorn==0.23.2
llama_index
pyngrok
jpype1-py3
soylemma